/* 
bleu : #0e6d8c
vert : #43a842 / 
*/
/* body */
.overflow{
    overflow: hidden;
}
.x-overflow{
    overflow-x: hidden;
}
/* Graphics color */
.bg-green{
    background-color: #43a842;
}
.bg-gray{
    background-color: #f4f4f4;
}

.bg-blue{
    background-color: #0e6d8c;
}

/* Text Color */
.text-white{
    color: white;
}
.text-green{
    color: #43a842;
}
.text-blue{
    color: #0e6d8c;
}

/* Radius border */
.radius{
    border-radius: 15px;
}

/* Buttons */
.btn-primary{
    border-radius: 15px;
    background-color: #0e6d8c;
    border: 0px solid #0e6d8c ;
    padding: 10px 15px;
    font-size: 18px;
}

.btn-primary:hover{
    background-color: #43a842;
}
.btn-logout{
    border-radius: 15px;
    background-color: #063c4e;
    border: 0px solid #063c4e ;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
}
.btn-logout:hover{
    background-color: #0e6d8c;
}

/* Font size */
.fs-7{
    font-size: 0.9rem;
}

/* Login form */
.login-form{
    border-radius: 15px;
    background-color: #fff;
}
.vertical-align{
    margin-top: 5%;
}
.login-footer{
    width: 100%;
    margin-top: 10%;
}

/* Create patient form */
.ms-homme{
    margin-left: 160px;
}
